@import url(./reset.css);
header h1{
    line-height: 7.0rem;
    text-align: center;
    padding: 1rem 0;
    background-color: #222;
    color: #fff;
}
article{
    max-width: 100rem;
    margin: 5rem auto;
}
.btn-default{
    display: inline-block;
    background-color: #ccc;
    width: max-content;
    padding: .9rem;
    border-radius: .4rem;
    cursor: pointer;
    margin: .5rem 0;
    font-weight: bolder;
}
.btn-primary{
    background-color: #0984e3;
    color: #fff;
}
.btn-alert{
    background-color: #d6330d;
    color: #fff;
}
.btn-succes{
    background-color: #00b894;
    color: #fff;
}
footer *{
    text-align: center;
}